[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dragonmapper = "*"
opencc-python-reimplemented = "*"


[dev-packages]



[requires]

python_version = "3.6"
